/* Shout-out to http://bettermotherfuckingwebsite.com/ for this CSS */

/*
  @font-face {
    font-family: 'DroidSans';
    src: url('assets/fonts/droid_sans.ttf') format('truetype');
  }

  @font-face {
    font-family: 'DroidSerif';
    src: url('assets/fonts/droid_serif.ttf') format('truetype');
  }

  font-family: "Droid Sans";
  font-family: "Droid Serif";
*/

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  padding: 0 10px;
  color: #444;
  background-color: #fafafa;
}

h1, h2, h3 {
  line-height: 1.2;
}

img {
  width: 100%;
}
